* {
  padding: 0;
}
.bsar {
  height: auto;
  width: 100%;
  margin: auto;
  border-radius: 0.5rem;
  text-align: center;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.9rem;
  padding-bottom: 1rem;
  background-color: rgb(30, 30, 30);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.lnkPart {
  width: 100%;
  margin: auto;
}
.bsar p {
  color: #1db954;
}
.scorePart {
  display: flex;
}
/* Responsive styling from here. */
@media only screen and (min-width: 280px) and (max-width: 576px) {
  .bsar {
    font-size: 0.6rem;
    width: 100%;
  }
  .inner_bar {
    height: 1.5rem;
    font-size: 0.7rem;
  }
  .scorePart h3 {
    font-size: 0.7rem;
  }
}
@media only screen and (min-width: 380px) and (max-width: 576px) {
  .bsar {
    font-size: 0.7rem;
    width: 98%;
  }
}
