.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  margin: auto;
  font-family: "poppins";
  font-weight: 300;
  color: #404040;
  font-size: 1rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 6px;
}
.icn {
  margin: 0rem 0.5rem;
  transform: scale(1.2);
}
.title h3 {
  margin: 0.5rem 0.5rem;
  margin-left: 0;
  font-weight: 400;
}
.form_main {
  border: 0.1rem solid rgb(221, 221, 221);
  padding: 2rem;
  border-radius: 1rem;
  margin-top: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.formDiv {
  width: 80%;
}
.form_main input {
  padding: 0.5rem 0.5rem;
  font-size: 0.8rem;
  width: 30rem;
}

.form_main button {
  width: 50%;
  height: 2.4rem;
  margin-top: 1rem;
}

.form_main label {
  color: #404040;
  font-family: "poppins";
  font-weight: 400;
}
.mainGrid {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.form_btnBox {
  width: 60%;
  margin: auto;
}
/* Responsive styling from here. */
@media only screen and (min-width: 280px) and (max-width: 576px) {
  .title {
    font-size: 0.8rem;
    width: 60%;
  }
  .formDiv {
    width: 100%;
  }
  .form_main label {
    font-size: 0.7rem;
  }
  .form_main input {
    padding: 0.3rem 0.3rem;
    font-size: 0.7rem;
    width: 60vw;
  }
  .form_main button {
    border-radius: 0.4rem;
    font-size: 0.7rem;
    height: 1.8rem;
    width: 10rem;
  }
  .icn {
    margin: 0rem 0.5rem;
    transform: scale(0.9);
  }
}
@media only screen and (min-width: 577px) and (max-width: 720px) {
  .title {
    width: 30%;
  }
  .form_main input {
    padding: 0.4rem 0.4rem;
    font-size: 0.8rem;
    width: 50vw;
  }
  .form_main button {
    border-radius: 0.4rem;
    font-size: 0.8rem;
    height: 2.2rem;
    width: 15rem;
  }
}
@media only screen and (min-width: 720px) and (max-width: 992px) {
  .title {
    width: 30%;
  }
  .form_main input {
    padding: 0.4rem 0.4rem;
    font-size: 0.8rem;
    width: 50vw;
  }
  .form_main button {
    border-radius: 0.4rem;
    font-size: 0.8rem;
    height: 2.2rem;
    width: 15rem;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .title {
    width: 25%;
  }
  .form_main input {
    padding: 0.4rem 0.4rem;
    font-size: 0.8rem;
    width: 44vw;
  }
  .form_main button {
    border-radius: 0.4rem;
    font-size: 0.9rem;
    height: 2.2rem;
    width: 15rem;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1440px) {
  .form_main button {
    border-radius: 0.4rem;
    font-size: 0.9rem;
    height: 2.2rem;
    width: 20rem;
  }
}
