.btn {
  border: none;
  width: 100%;
  min-width: 10rem;
  height: 100%;
  min-height: 2.5rem;
  margin: auto;
  margin-top: 0.5rem;
  font-size: 0.8rem;
  font-family: "poppins";
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 0rem;
  border-right: 0rem;
  background-color: transparent;
  color: #2a2a2a;
  background-color: #efefef;
  transition: 0.2s ease;
  cursor: pointer;
}
.btn:active {
  background-color: rgb(239, 239, 239);
}

.icn {
  margin-right: 0.2rem;
  transform: scale(0.9);
}
/* .notificationBall_2 {
  padding: 0.5rem, 0.5rem;
  font-size: 0.6rem;
  background-color: rgb(252, 67, 67);
  color: white;
  border-radius: 1rem;
  text-align: center;
  padding-top: 0;
  margin-right: 0;
  display: inline;
  position: absolute;
  left: 70%;
  top: 57%;
  transform: translate(-50%, -50%);
  max-height: 0.3rem;
  max-width: 1.2%;
  min-height: 0.3rem;
  min-width: 1.2%;
} */
.btnParent {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
/* Responsive styling from here. */
@media only screen and (min-width: 280px) and (max-width: 576px) {
  .btn {
    border: none;
    height: 2.2rem;
    width: 12rem;
    font-size: 0.7rem;
  }
  .notificationBall_2 {
    left: 76%;
    top: 57%;
    padding: 0.15rem 0.15rem;
    font-size: 0.5rem;
    max-height: 0.1rem;
    max-width: 0.1rem;
    min-height: 0.1rem;
    min-width: 0.1rem;
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .btn {
    border: none;
    height: 2.9rem;
    width: 13rem;
    font-size: 0.8rem;
  }
  .notificationBall_2 {
    left: 70%;
    top: 57%;
    max-height: 0.1rem;
    max-width: 0.1rem;
    min-height: 0.1rem;
    min-width: 0.1rem;
    padding: 0.15rem 0.15rem;
    font-size: 0.5rem;
  }
}
