.btn {
  border: none;
  width: 13rem;
  height: 2.6rem;
  margin: auto;
  margin-top: 1rem;
  font-size: 0.9rem;
  font-family: "poppins";
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1db954;
  border-radius: 0.5rem;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  transition: 0.2s ease;
  cursor: pointer;
}
.btn:active {
  background-color: #137a37;
}
.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.icn {
  margin-right: 0.2rem;
}

/* Responsive styling from here. */
@media only screen and (min-width: 280px) and (max-width: 576px) {
  .btn {
    border: none;
    height: 2.2rem;
    width: 10rem;
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .btn {
    border: none;
    height: 2.9rem;
    width: 11rem;
    font-size: 0.9rem;
  }
}
