* {
  font-family: "poppins";
}
.subtitleBox {
  margin-top: 1rem;
  border: 0.1rem solid rgb(211, 211, 211);
  border-radius: 1rem;
  padding: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

.boxLeft {
  width: 80%;
}

.boxLeft h2 {
  font-size: 1.3rem;
}
.boxLeft p {
  margin-top: 0.2rem;
  font-size: 0.9rem;
}

.boxRight {
  width: 20%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxRight :nth-child(1),
.boxRight :nth-child(2) {
  transform: scale(1);
  width: 10rem;
  margin-left: auto;
  height: 4.3rem;
}

.rewardsBox {
  margin-top: 1rem;
  width: 45vw;
  min-height: 10rem;
  max-height: 70vh;
  border: 0.1rem solid rgb(211, 211, 211);
  border-radius: 1rem;
  padding: 1.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  row-gap: 1rem;
  column-gap: 1rem;
  margin-bottom: 1rem;
  overflow-y: scroll;
  justify-items: center;
}
.rewardsBox::-webkit-scrollbar {
  display: none;
  width: 0rem;
}

.parent_reward_Box {
  padding: 0.7rem;
  border-radius: 1rem;
  width: 12rem;
  margin-bottom: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.parent_reward_Box h2 {
  font-size: 1.1rem;
}

.parent_reward_Box p {
  font-size: 0.9rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}
