* {
  font-family: "poppins";
}

.formBox {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  text-align: center;
  height: 10rem;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 0.1rem solid rgb(211, 211, 211);
  margin-top: auto;
}
.formBox :nth-child(2) {
  border: none;
  padding: 1rem;
}
.formBox :nth-child(2):focus {
  outline: none;
}
.parentBox {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.formBox button {
  outline: none;
  border: none;
  width: 15%;
  border-radius: 0;
  color: rgb(61, 61, 61);
  border-bottom: 0.1rem solid rgb(211, 211, 211);
  background-color: transparent;
  cursor: pointer;
  margin: auto;
  display: block;
}
.txt_area {
  resize: none;
  font-size: 0.8rem;
  width: 100%;
  scrollbar-width: none;
  padding: 1rem;
  border: none;
  outline: none;
}
.txt_area::-webkit-scrollbar {
  display: none;
}
.txt_area:focus {
  outline: none;
}
.new_note_heading h3 {
  color: rgb(61, 61, 61);
  text-align: center;
}

@media only screen and (min-width: 280px) and (max-width: 400px) {
  .formBox {
    width: 100%;
    font-family: 0.7rem;
    row-gap: 1rem;
    height: 15rem;
  }
  .txt_area {
    width: 90%;
    padding: 0.5rem;
    text-align: center;
  }
  .formBox :nth-child(2) {
    width: 90%;
    padding: 0.5rem;
    text-align: center;
  }
  .formBox button {
    width: 80%;
  }
  .parentBox {
    height: 45vh;
  }
  .new_note_heading h3 {
    font-size: 0.8rem;
  }
}
