* {
  font-family: "poppins";
}

.formBox {
  width: 100%;
  display: grid;

  height: 10rem;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 0.1rem solid rgb(211, 211, 211);
  margin-top: auto;
}
.parentBox {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.formBox button {
  outline: none;
  border: none;
  width: 15%;
  border-radius: 0;
  color: rgb(61, 61, 61);
  border-bottom: 0.1rem solid rgb(211, 211, 211);
  background-color: transparent;
  cursor: pointer;

  display: block;
}
.txt_area {
  resize: none;
  font-size: 0.8rem;
  width: 100%;
  scrollbar-width: none;
  padding: 1rem;
  border: none;
  outline: none;
}
.txt_area::-webkit-scrollbar {
  display: none;
}
.txt_area:focus {
  outline: none;
}
.new_note_heading h3 {
  color: rgb(61, 61, 61);
  text-align: center;
}
