.liBox {
  width: 95%;
  border: 0.1rem solid rgb(211, 211, 211);
  border-radius: 0.5rem;
  margin: auto;
  display: flex;
  align-items: center;
  height: 4rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
.info_left {
  width: 50%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  padding-left: 2rem;
}
.liBox h4,
h3 {
  margin: 0.2rem;
  font-family: "poppins";
  font-weight: 400;
}
.liBox h4 {
  font-size: 0.8rem;
}

.info_right {
  width: 50%;
  text-align: right;
  padding-right: 1rem;
  display: flex;
}
.btn {
  border: none;
  outline: none;
  border-radius: 0.3rem;
  color: white;
  width: 45%;
  padding: 0.3rem 2rem;
  margin: 0rem 0.5rem;
  cursor: pointer;
  font-family: "poppins";
  display: flex;
  align-items: center;
  justify-content: center;
}
.rejectbtn {
  background-color: rgb(241, 51, 51);
}
.rejectbtn:active {
  background-color: rgb(182, 28, 28);
}
.acceptbtn:active {
  background-color: #137a37;
}
.acceptbtn {
  background-color: #1db954;
}

.btn_icn {
  margin-left: 0.2rem;
  transform: scale(0.8);
}

/* Responsive styling from here. */
@media only screen and (min-width: 280px) and (max-width: 576px) {
  .info_left {
    width: 100%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  .liBox {
    padding: 0.2rem 0rem;
    margin: 0;
    margin-bottom: 0.5rem;
    width: 99%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .info_right {
    width: 100%;
    justify-content: space-around;
    padding-right: 0;
  }
  .liBox h4 {
    font-size: 0.8rem;
    width: 100%;
  }
  .liBox h3 {
    font-size: 0.9rem;
    width: 100%;
  }
  .btn {
    width: 40%;
    padding: 0.2rem 0.5rem;
    margin: 0rem 0.2rem;
    margin-bottom: 0.5rem;
    font-size: 0.7rem;
  }
  .btn_icn {
    margin-left: 0rem;
    transform: scale(0.5);
  }
}
@media only screen and (min-width: 500px) and (max-width: 576px) {
  .btn {
    width: 39%;
    padding: 0.2rem 0.5rem;
    margin: 0rem 0.2rem;
    margin-bottom: 0.5rem;
    font-size: 0.7rem;
  }
}
@media only screen and (min-width: 577px) and (max-width: 720px) {
  .btn {
    width: 50%;
    font-size: 0.8rem;
    padding: 0.4rem 1rem;
    margin: 0rem 0.2rem;
  }
  .btn_icn {
    margin-left: 0rem;
    transform: scale(0.6);
  }
  .info_left {
    width: 50%;
  }
  .info_right {
    width: 50%;
  }
  .liBox h4 {
    font-size: 0.9rem;
  }
  .liBox h3 {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 720px) and (max-width: 992px) {
  .btn {
    width: 50%;
    font-size: 0.8rem;
    padding: 0.4rem 1rem;
    margin: 0rem 0.2rem;
  }
  .btn_icn {
    margin-left: 0rem;
    transform: scale(0.6);
  }
  .info_left {
    width: 50%;
  }
  .info_right {
    width: 50%;
  }
  .liBox h4 {
    font-size: 0.9rem;
  }
  .liBox h3 {
    font-size: 1rem;
  }
}
