.btn_Grid {
  height: auto;
  width: 50%;
  border: 0.1rem solid rgb(211, 211, 211);
  border-radius: 0.5rem;
  padding: 0rem 2rem;
  text-align: center;
}
.faceIcn {
  margin-top: 5rem;
  transform: scale(7);
  margin-bottom: 5rem;
  color: "#1DB954";
}
.endliner {
  background-color: rgb(30, 30, 30);
  height: 0.2rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 12.5rem;
  width: 100%;
  outline: none;
  border: none;
}

/* Responsive styling from here. */
@media only screen and (min-width: 280px) and (max-width: 576px) {
  .faceIcn {
    transform: scale(3);
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .btn_Grid {
    height: 5rem;
    width: 95%;
  }
  .endliner {
    margin-top: 7rem;
    width: 100%;
  }
}
@media only screen and (min-width: 577px) and (max-width: 720px) {
  .faceIcn {
    transform: scale(5);
  }
}
@media only screen and (min-width: 721px) and (max-width: 992px) {
  .faceIcn {
    transform: scale(6);
  }
}
