.disclaimerBox {
  width: 80%;
  text-align: center;
  background-color: rgb(221, 221, 221);
  border-radius: 0.5rem;
  font-size: 0.9rem;
  padding: 0.5rem;
}

.syvform input {
  padding: 0.5rem;
  font-size: 0.8rem;
  width: 30rem;
}
.syvform label {
  margin-top: 3rem;
  font-family: "poppins";
  font-weight: 500;
}
.formBox {
  width: 80%;
  border: 0.1rem solid rgb(211, 211, 211);
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-align: center;
}

.formBox textarea {
  border: 0.1rem solid rgb(181, 181, 181);
  border-radius: 0.3rem;
  height: 8rem;
  width: 30rem;
  padding: 0.5rem;
  overflow-y: scroll;
}
.formBox textarea:focus {
  outline: none;
}
.syvform input:focus {
  outline: none;
}

.formBox textarea::-webkit-scrollbar {
  width: 0rem;
  scroll-behavior: smooth;
}
.formBox textarea::-webkit-scrollbar-track {
  background-color: none;
}

.formBox textarea::-webkit-scrollbar-thumb {
  border-radius: 0rem;
  background-color: none;
}
/* .syvform button,
.backbtn {
  width: 30%;
  outline: none;
  background-color: #1db954;
  padding: 0.5rem;
  font-size: 0.9rem;
  color: white;
  font-family: "poppins";
  border: none;
  cursor: pointer;
  transition: 0.2s ease;
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
} */
/* .syvform button:hover,
.backbtn:hover {
  background-color: rgb(36, 194, 92);
}
.syvform button:active,
.backbtn:active {
  background-color: #137a37;
} */
.btnBox {
  width: 35%;
  margin: auto;
}
@media only screen and (min-width: 280px) and (max-width: 576px) {
  .disclaimerBox {
    width: 90%;
    font-size: 0.8rem;
  }

  .syvform input {
    padding: 0.5rem 0.5rem;
    font-size: 0.8rem;
    width: 12rem;
  }
  .syvform label {
    margin-top: 2rem;
  }
  .formBox {
    width: 90%;
  }
  .formBox textarea {
    padding: 0.5rem 0.5rem;
    height: 8rem;
    width: 12rem;
  }
  .syvform button,
  .backbtn {
    width: 13.2rem;
    font-size: 0.8rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
  }
}
@media only screen and (min-width: 576px) and (max-width: 720px) {
  .disclaimerBox {
    width: 80%;
    font-size: 0.9rem;
  }

  .syvform input {
    padding: 0.5rem 0.5rem;
    font-size: 0.8rem;
    width: 15rem;
  }
  .syvform label {
    margin-top: 2rem;
  }
  .formBox {
    width: 80%;
  }
  .formBox textarea {
    padding: 0.5rem 0.5rem;
    height: 8rem;
    width: 15rem;
  }
  .syvform button,
  .backbtn {
    width: 16.2rem;
    font-size: 0.9rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
  }
}
@media only screen and (min-width: 720px) and (max-width: 992px) {
  .syvform input {
    width: 25rem;
  }
  .formBox textarea {
    padding: 0.5rem 0.5rem;
    height: 8rem;
    width: 25rem;
  }
}
