.bar {
  height: auto;
  width: 100%;
  border-radius: 0.5rem;
  text-align: center;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.9rem;
  padding-bottom: 1rem;
  background-color: rgb(30, 30, 30);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.inner_bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 1.8rem;
  width: 80%;
  border-radius: 0.5rem;
}
.heading {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 0.8rem;
  padding: 0.5rem;
  width: 100%;
}
.uppr {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.baseBg {
  background-color: rgb(42, 42, 42);
}
.bronzeBg {
  background-color: #af4706;
}
.silverBg {
  background-color: #c0c0c0;
}
.silverBg h3 {
  color: rgb(30, 30, 30);
}
.goldBg {
  background-color: #ffae00;
}
.platinumBg {
  background-color: #e5e4e2;
}
.platinumBg h3 {
  color: rgb(30, 30, 30);
}
.icns {
  color: rgb(30, 30, 30);
}
/* Responsive styling from here. */
@media only screen and (min-width: 280px) and (max-width: 576px) {
  .heading {
    font-size: 0.6rem;
    padding: 0.2rem;
  }
  .inner_bar {
    height: 1.5rem;
    font-size: 0.6rem;
  }
}
@media only screen and (min-width: 577px) and (max-width: 720px) {
  .heading {
    font-size: 0.7rem;
    padding: 0.2rem;
  }
  .inner_bar {
    height: 1.5rem;
    font-size: 0.7rem;
  }
}
