.bar {
  height: 3rem;
  width: 100%;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #ffffff;
  font-size: 0.9rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.baseBg {
  background-color: rgb(30, 30, 30);
}
.bronzeBg {
}
.silverBg {
}
.goldBg {
}
.platinumBg {
}
