.noReqsBox {
  min-height: 20rem;
  max-height: auto;
  width: 70%;
  border: 0.1rem solid rgb(211, 211, 211);
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 3rem 0rem;
  text-align: center;
}
.noReqsBox h2,
p {
  color: #191414;
}
.faceIcn {
  transform: scale(4.2);
  margin: 4rem;
  color: #191414;
}
.homeBtn {
  margin-top: 2rem;
}
