.form_main input {
  padding: 0.5rem 0.5rem;
  font-size: 0.8rem;
  width: 30rem;
}
.form_main {
  border: 0.1rem solid rgb(221, 221, 221);
  padding: 2rem;
  border-radius: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.stateSelector {
  font-family: "poppins";
  margin-left: 1rem;
  padding: 0.5rem;
  font-size: 0.9rem;
}
.form_main label {
  color: #404040;
  font-family: "poppins";
  font-weight: 400;
}
.sendBtn {
  width: 100%;
  outline: none;
  background-color: #1db954;
  padding: 0.5rem;
  font-size: 0.9rem;
  color: white;
  font-family: "poppins";
  border: none;
  cursor: pointer;
  transition: 0.2s ease;
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.sendBtn:hover {
  background-color: rgb(36, 194, 92);
}
.toggleText {
  text-align: center;
}
.toggleText h4 {
  cursor: pointer;
}

.formContainer {
  width: 80%;
}
