.form_main input {
  padding: 0.5rem 0.5rem;
  font-size: 0.8rem;
  width: 30rem;
}
.form_main {
  border: 0.1rem solid rgb(221, 221, 221);
  padding: 2rem;
  border-radius: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.stateSelector {
  font-family: "poppins";
  margin-left: 1rem;
  padding: 0.5rem;
  font-size: 0.9rem;
}
.form_main label {
  color: #404040;
  font-family: "poppins";
  font-weight: 400;
}

.toggleText {
  text-align: center;
}
.toggleText h4 {
  cursor: pointer;
}

.formContainer {
  width: 80%;
}
a {
  text-decoration: none;
  color: #404040;
}
/* Responsive styling from here. */
@media only screen and (min-width: 280px) and (max-width: 576px) {
  .form_main input {
    font-size: 0.7rem;
    width: 15rem;
    padding: 0.4rem 0.4rem;
  }
}
