.formContainer {
  width: 80%;
}
.form_main input {
  padding: 0.5rem;
  font-size: 0.8rem;
  width: 30rem;
}
.form_main {
  border: 0.1rem solid rgb(221, 221, 221);
  padding: 2rem;
  border-radius: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.stateSelector {
  font-family: "poppins";
  margin-left: 1rem;
  padding: 0.5rem;
  font-size: 0.9rem;
}

.form_main label {
  color: #404040;
  font-family: "poppins";
  font-weight: 400;
  margin-bottom: 1rem;
}

.form_main button {
  width: 100%;
  outline: none;
  background-color: #1db954;
  padding: 0.5rem;
  font-size: 0.9rem;
  color: white;
  font-family: "poppins";
  border: none;
  cursor: pointer;
  transition: 0.2s ease;
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.form_main button:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.form_main button:active {
  background-color: #137a37;
}
.toggleText {
  text-align: center;
}
.toggleText h4 {
  cursor: pointer;
}
.phno {
  width: 30rem;
}
/* Responsive styling from here. */
@media only screen and (min-width: 280px) and (max-width: 576px) {
  .formContainer {
    width: 90%;
  }
  .form_main input {
    padding: 0.3rem 0.3rem;
    font-size: 0.8rem;
    width: 13rem;
  }
  .form_main {
    padding: 1rem;
    text-align: left;
  }
  .form_main label {
    font-size: 0.8rem;
  }
  .stateSelector {
    padding: 0.3rem;
    font-size: 0.8rem;
    width: 13rem;
  }
  .form_main button {
    padding: 0.3rem;
    font-size: 0.8rem;
  }
  .toggleText h4 {
    font-size: 0.8rem;
  }
  .phno {
    width: 14rem;
  }
}

@media only screen and (min-width: 576px) and (max-width: 720px) {
  .form_main input {
    padding: 0.4rem 0.4rem;
    font-size: 0.9rem;
    width: 20rem;
  }
  .form_main {
    padding: 1rem;
    text-align: left;
  }
  .form_main label {
    font-size: 0.9rem;
  }
  .stateSelector {
    padding: 0.4rem;
    font-size: 0.9rem;
  }
  .form_main button {
    padding: 0.4rem;
    font-size: 0.9rem;
  }
  .toggleText h4 {
    font-size: 0.9rem;
  }
  .phno {
    width: 21rem;
  }
}
@media only screen and (min-width: 720px) and (max-width: 992px) {
  .form_main input {
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    width: 25rem;
  }
  .phno {
    width: 26rem;
  }
}
