.mainContainer {
  height: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 1rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.headingPart {
  width: 100%;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

.noteIcn {
  transform: scale(0.7);
  margin-bottom: 0.2rem;
}

.headingPart h3 {
  font-size: 1.1rem;
  color: rgb(128, 128, 128);
}

.userTag {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.2rem;
  color: #191414;
  font-size: 0.8rem;
  background-color: rgb(237, 237, 237);
  border: none;
  outline: none;
  border-radius: 0.5rem;
  font-family: "poppins";
  font-weight: 500;
  outline: none;
  padding: 0.3rem 1rem;
  text-transform: capitalize;
  cursor: not-allowed;
}

.btnBackground {
  background-color: #1db954;
  color: rgb(255, 255, 255);
}

.tags {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.clickEffect {
  cursor: pointer;
  transition: 0.2s ease;
}
.clickEffect:active {
  background-color: rgb(170, 170, 170);
}
.dummyStateBox {
  background-color: rgb(255, 255, 255);
  width: 70%;
  margin: auto;
  margin-top: 10%;
  height: 15rem;
  border-radius: 1rem;
  text-align: center;
  padding: 2rem;
  border: 0.1rem solid rgb(211, 211, 211);
}
.dummyStateBox h3 {
  font-weight: 600;
  font-family: "poppins";
  font-size: 1.6rem;
}
.faceIcn {
  transform: scale(2.5);
  margin: 2rem 0rem;
}
/* Responsive styling from here. */
@media only screen and (min-width: 280px) and (max-width: 576px) {
  .dummyStateBox p {
    font-size: 0.7rem;
  }
  .dummyStateBox {
    padding: 0.5rem;
    margin-top: 3rem;
  }
  .dummyStateBox h3 {
    font-size: 0.9rem;
  }
  .faceIcn {
    transform: scale(2);
    margin: 2rem 0rem;
  }

  .headingPart h3 {
    font-size: 1.1rem;
    color: rgb(128, 128, 128);
    margin-bottom: 1rem;
  }

  .userTag {
    height: 1.5rem;
    font-size: 0.7rem;
    padding: 0.9rem 1rem;
    width: 9rem;
    justify-content: center;
  }
  .userTag :nth-child(1) {
    transform: scale(0.9);
  }
  .noteIcn {
    transform: scale(0.8);
    margin-bottom: 0.2rem;
  }
  .headingPart {
    display: block;
    text-align: center;
  }
  .tags {
    flex-wrap: wrap;
    gap: 1rem;
  }
}

@media only screen and (min-width: 576px) and (max-width: 720px) {
  .dummyStateBox p {
    font-size: 0.9rem;
  }
  .dummyStateBox {
    padding: 0.5rem;
    margin-top: 3rem;
  }
  .dummyStateBox h3 {
    font-size: 1rem;
  }
  .faceIcn {
    transform: scale(2.2);
  }
  .tags {
    flex-wrap: wrap;
    gap: 0.7rem;
  }
  .headingPart {
    display: block;
    text-align: center;
  }
  .userTag {
    height: 1.8rem;
    font-size: 0.8rem;
    padding: 1rem 1rem;
    width: 10rem;
    justify-content: center;
  }
  .userTag :nth-child(1) {
    transform: scale(0.9);
  }
  .headingPart h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
}
@media only screen and (min-width: 721px) and (max-width: 992px) {
  .tags {
    flex-wrap: wrap;
    gap: 0.7rem;
  }
  .headingPart {
    display: block;
    text-align: center;
  }
  .userTag {
    height: 2rem;
    font-size: 0.8rem;
    padding: 1.1rem 0.9rem;
    width: 10rem;
    justify-content: center;
  }
  .userTag :nth-child(1) {
    transform: scale(0.9);
  }
  .headingPart h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
}
