.mainContainer {
  height: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 1rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.headingPart {
  width: 100%;
  padding: 0.5rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

.noteIcn {
  transform: scale(0.7);
  margin-bottom: 0.2rem;
}

.headingPart h3 {
  font-size: 1.1rem;
  color: rgb(128, 128, 128);
}

.userTag {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.5rem;
  color: #191414;
  font-size: 0.9rem;
  background-color: rgb(237, 237, 237);
  border: none;
  outline: none;
  border-radius: 0.5rem;
  font-family: "poppins";
  font-weight: 500;
  outline: none;
  padding: 0.3rem 1.3rem;
  text-transform: capitalize;
  cursor: not-allowed;
}
.tags {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.clickEffect {
  cursor: pointer;
  transition: 0.2s ease;
}
.clickEffect:active {
  background-color: rgb(170, 170, 170);
}
/* Responsive styling from here. */
@media only screen and (min-width: 280px) and (max-width: 576px) {
  .headingPart h3 {
    font-size: 1.1rem;
    color: rgb(128, 128, 128);
  }

  .userTag {
    height: 1.5rem;
    font-size: 0.8rem;
    padding: 0.4rem 0.7rem;
  }
  .noteIcn {
    transform: scale(0.9);
    margin-bottom: 0.2rem;
  }
}
