.headBar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  margin-top: 1rem;
}
.title {
  display: flex;
  align-items: center;
  margin: auto;
  font-family: "poppins";
  color: #404040;
  font-size: 1rem;
  border: 0.1rem solid #404040;
  border-radius: 0.5rem;
  margin-bottom: 3rem;
}

.title h3 {
  font-weight: 400;
  font-family: "poppins";
  margin: 0.5rem 0.5rem;
}
.parentContainer {
  width: 80%;
  border: 0.1rem solid rgb(221, 221, 221);
  padding: 2rem;
  padding-left: 10%;
  padding-right: 10%;
  height: auto;
  border-radius: 1rem;
}

.addBtn {
  text-align: left;
  width: 80%;
  padding-bottom: 1rem;
  margin-top: 3rem;
}
.addBtn button {
  width: 11rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  font-size: 0.9rem;
  font-family: "poppins";
  color: white;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  transition: 0.2s ease;
  background-color: #1db954;
}
.iccn {
  transform: scale(0.8);
}
.addBtn button:active {
  background-color: #137a37;
}
/* Responsive styling from here. */
@media only screen and (min-width: 280px) and (max-width: 576px) {
  .title {
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 577px) and (max-width: 720px) {
  .title {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 721px) and (max-width: 992px) {
  .title {
    font-size: 1rem;
  }
}
