.mainContainer {
  height: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 1rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.headingPart {
  width: 100%;
  padding: 0.5rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.noteBtn {
  outline: none;
  background-color: transparent;
  border: 0.1rem solid #1db954;
  border-radius: 1.5rem;
  color: #1db954;
  height: 2rem;
  padding: 0.1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.noteBtn:hover {
  background-color: #1db954;
  color: white;
  transition: 0.2s ease;
}
a {
  text-decoration: none;
}
.noteBtn h4 {
  font-size: 0.9rem;
  margin: 0;
  font-weight: 500;
  font-family: "poppins";
}
.noteIcn {
  transform: scale(0.7);
  margin-bottom: 0.2rem;
}

.headingPart h3 {
  font-size: 1.1rem;
  color: rgb(128, 128, 128);
}

.userTag {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2rem;
  border-radius: 0.5rem;
  font-family: "poppins";
  outline: none;
  border: 0.1rem solid #1db954;
  padding: 0.3rem 1.3rem;
  text-transform: uppercase;
  cursor: not-allowed;
  box-shadow: #19a049 0px 4px 8px -2px, #19a049 0px 0px 0px 1px;
}
