.footerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: poppins;
  width: 100%;
  padding: 0rem 1rem;
}

.storelinks img {
  height: 4rem;
  width: 12rem;
  cursor: pointer;
  margin-right: 0.4rem;
}
.storelinks {
  display: flex;
  align-items: center;
  background-color: aliceblue;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}
.socialLinksPart a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.storelinks h3 {
  color: black;
  margin-right: 1rem;
}

.footerContainer {
  background-color: black;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  padding-top: 1rem;
  margin-top: 2rem;
}
.socialLinksPart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 7rem;
  margin-right: 2rem;
}
.icon {
  transform: scale(1.1);
}
.footerBottom {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footerText {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "poppins";
  text-align: center;
}
.footerText h4 {
  font-weight: 400;
}
.footerText h5 {
  font-weight: 400;
}

/* Responsive styling from here. */
@media only screen and (min-width: 280px) and (max-width: 576px) {
  .storelinks img {
    height: 2rem;
    width: 6rem;
    margin-right: 0rem;
  }
  .storelinks {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .storelinks h3 {
    font-size: 1rem;
    margin-right: 0rem;
    display: block;
  }
  .footerTop {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
  .socialLinksPart {
    margin-top: 1rem;
    margin-right: 0rem;
  }
  .icon {
    transform: scale(1);
  }
}
@media only screen and (min-width: 392px) and (max-width: 576px) {
  .storelinks img {
    height: 3rem;
    width: 9rem;
  }

  .storelinks h3 {
    font-size: 1.2rem;
    width: 100%;
  }
}
/* Responsive styling from here. */
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .storelinks img {
    height: 3rem;
    width: 9rem;
  }
  .icon {
    transform: scale(1);
  }
  .storelinks h3 {
    font-size: 1.2rem;
    width: 100%;
  }
  .storelinks {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footerTop {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
  .socialLinksPart {
    margin-top: 1rem;
    margin-right: 0rem;
  }
}
/* Responsive styling from here. */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .storelinks img {
    height: 3rem;
    width: 9rem;
  }
  .icon {
    transform: scale(1);
  }
  .storelinks h3 {
    font-size: 1.2rem;
    width: 100%;
  }
  .storelinks {
    /* flex-wrap: wrap; */
    justify-content: space-around;
  }
  .footerTop {
    flex-wrap: wrap;

    text-align: center;
    justify-content: center;
  }
  .socialLinksPart {
    margin-top: 1rem;
    margin-left: 3rem;
  }
}
