.logoImg {
  height: 3rem;
  width: 3rem;
}

.navbar {
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.notificationBall {
  height: 0.7rem;
  width: 0.7rem;
  border-radius: 0.5rem;
  margin-left: auto;
  margin-top: -2rem;
  margin-left: -1.5rem;

  background-color: rgb(252, 67, 67);
  transform: scale(0.8);
  color: rgb(236, 36, 21);
}

/* Responsive styling from here. */
@media only screen and (min-width: 280px) and (max-width: 576px) {
  .logoImg {
    height: 2rem;
    width: 2rem;
  }
  .icn {
    transform: scale(0.8);
  }
}
