:root {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* TOASTIFY SETTINGS */
  --toastify-color-light: #ffffff; /* Light theme background */
  --toastify-color-dark: #282828; /* Dark theme background */
  --toastify-color-info: #29b6f6;
  --toastify-color-success: #66bb6a;
  --toastify-color-warning: #ffa726;
  --toastify-color-error: #ef5350;

  --toastify-text-color-light: #333;
  --toastify-text-color-dark: #f0f0f0;

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);

  --toastify-toast-width: 20rem;
  --toastify-toast-background: var(--toastify-color-light);
  --toastify-toast-min-height: 3rem;
  --toastify-toast-padding: 16px;
  --toastify-toast-border-radius: 0.5rem;
  --toastify-toast-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999; /* Adjust if needed */

  /* Progress Bar */
  --toastify-progress-bar-color-light: var(--toastify-color-light);
  --toastify-progress-bar-color-dark: #fff;
  --toastify-progress-bar-height: 2rem;

  /* Close Button */
  --toastify-close-button-color-light: #aaa;
  --toastify-close-button-color-dark: #eee;
  --toastify-close-button-hover-color-light: #333;
  --toastify-close-button-hover-color-dark: #fff;
}

body {
  background-color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
  padding: 0% 15%;
  min-height: 100vh;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0.5rem;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: green;
}

@media only screen and (min-width: 280px) and (max-width: 576px) {
  body {
    padding: 0% 1%;
  }
  body::-webkit-scrollbar {
    width: 0rem;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  body {
    padding: 0% 5%;
  }
  body::-webkit-scrollbar {
    width: 0rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  body {
    padding: 0% 10%;
  }
  body::-webkit-scrollbar {
    width: 0rem;
  }
}
/* 1DB954 - spotify green */
/* 191414 - spotify black  */
/* FFFFFF - spotify white  */
