.detailsBox {
  width: 80%;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  border: 0.1rem solid rgb(211, 211, 211);
  min-height: 60vh;
  max-height: 60vh;
  overflow-y: scroll;
  scrollbar-width: 0;
}
.detailsBox::-webkit-scrollbar {
  width: 0.5rem;
  scroll-behavior: smooth;
}
.detailsBox::-webkit-scrollbar-track {
  background-color: transparent;
}

.detailsBox::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: green;
}
.liBox {
  width: 90%;
  border: 0.1rem solid rgb(211, 211, 211);
  border-radius: 0.5rem;
  margin: auto;
  display: flex;
  align-items: center;
  height: 4rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
.info_left {
  width: 70%;
  padding-left: 2rem;
}
.liBox h4,
h3 {
  text-transform: capitalize;
  font-size: 0.9rem;
  margin: 0.2rem;
  font-family: "poppins";
  font-weight: 400;
}

.liBox h4 {
  font-size: 0.7rem;
}
.info_right {
  width: 30%;
  text-align: right;
  padding-right: 1rem;
}

.clearIndicatorBtn {
  border-radius: 0.5rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: right;
  margin-left: auto;
  font-family: "poppins";
  font-size: 0.9rem;
  width: auto;
  padding: 0.1rem 0.3rem;
}
.cleartick {
  color: #1db954;
  margin-right: 0.5rem;
  transform: scale(0.8);
  margin: auto;
}

.pending {
  color: rgb(254, 210, 87);
  margin-right: 0.5rem;
}

/* Responsive styling from here. */
@media only screen and (min-width: 280px) and (max-width: 576px) {
  .detailsBox {
    width: 95%;
  }
  .detailsBox::-webkit-scrollbar {
    width: 0rem;
    scroll-behavior: smooth;
  }
  .detailsBox::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .detailsBox::-webkit-scrollbar-thumb {
    border-radius: 0rem;
    background-color: none;
  }
  .liBox {
    height: 4.2rem;
    width: 95%;
  }
  .liBox h4 {
    margin: 0.1rem;
    font-size: 0.8rem;
  }
  .liBox h3 {
    font-size: 0.8rem;
  }
  .clearIndicatorBtn {
    font-size: 0.7rem;
  }
  .cleartick {
    margin-right: 0rem;
    transform: scale(0.8);
  }

  .pending {
    margin-right: 0.2rem;
    transform: scale(0.8);
  }
  .info_left {
    padding-left: 1rem;
  }
}
/* Responsive styling from here. */
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .detailsBox {
    width: 80%;
  }
  .detailsBox::-webkit-scrollbar {
    width: 0rem;
    scroll-behavior: smooth;
  }
  .detailsBox::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .detailsBox::-webkit-scrollbar-thumb {
    border-radius: 0rem;
    background-color: none;
  }
  .liBox {
    height: 4.5rem;
    width: 95%;
  }
  .liBox h4 {
    font-size: 0.9rem;
  }
  .liBox h3 {
    font-size: 1rem;
  }
  .clearIndicatorBtn {
    font-size: 0.7rem;
  }
  .cleartick {
    margin-right: 0rem;
    transform: scale(0.8);
  }

  .pending {
    margin-right: 0.2rem;
    transform: scale(0.8);
  }
  .info_left {
    padding-left: 1rem;
  }
}
