.innerBox {
  border: 0.1rem solid rgb(211, 211, 211);
  width: 80%;
  padding: 2rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
  text-align: center;
}
.outerBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scoreCircle {
  padding: 2rem;
  width: 10%;
  height: 6rem;
  border-radius: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 0.5rem solid rgb(211, 211, 211);
}
.scoreCircle h1 {
  font-size: 3rem;

  margin: 0;
  padding: 0;
}
.gridOuter {
  width: 70%;
  display: flex;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: 0.1rem solid rgb(211, 211, 211);
  margin-bottom: 2rem;
}
.tipBox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 5rem;
  padding: 0rem 0.5rem;
  background-color: #1db954;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
  color: white;
}
.tipIcon {
  color: rgb(254, 210, 87);
}
.bannerGrid_Outer {
  width: 70%;
}
.reviewtextBtn h4 {
  font-family: "poppins";
  font-weight: 600;
  color: #1db954;
  cursor: pointer;
}
/* Responsive styling from here. */
@media only screen and (min-width: 280px) and (max-width: 576px) {
  .header h1 {
    font-size: 1.5rem;
  }
  .innerBox {
    border: 0.1rem solid rgb(211, 211, 211);
    width: 70%;
  }
  .scoreCircle {
    width: 45%;
    height: 5rem;
  }
  .tipBox {
    justify-content: center;
    font-size: 0.9rem;
  }
  .gridOuter h4 {
    font-size: 0.8rem;
    text-align: center;
  }
  .gridOuter {
    width: 80%;
    flex-wrap: wrap;
  }
  .reviewtextBtn h4 {
    font-size: 0.9rem;
    text-align: center;
  }
}

@media only screen and (min-width: 352px) and (max-width: 576px) {
  .scoreCircle {
    width: 40%;
  }
}
@media (aspect-ratio: 375px / 667px) {
  .scoreCircle {
    height: 5rem;
  }
}
@media only screen and (min-width: 376px) and (max-width: 500px) {
  .scoreCircle {
    width: 30%;
  }
}
@media only screen and (min-width: 500px) and (max-width: 576px) {
  .scoreCircle {
    width: 25%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .header h1 {
    font-size: 2rem;
  }
  .innerBox {
    border: 0.1rem solid rgb(211, 211, 211);
    width: 70%;
  }
  .scoreCircle {
    width: 25%;
    height: 6rem;
  }
  .tipBox {
    justify-content: center;
    font-size: 0.9rem;
  }
  .gridOuter h4 {
    font-size: 0.9rem;
    text-align: center;
  }
  .gridOuter {
    width: 70%;
    flex-wrap: wrap;
  }
  .reviewtextBtn h4 {
    font-size: 1rem;
    text-align: center;
  }
}
@media only screen and (min-width: 645px) and (max-width: 768px) {
  .scoreCircle {
    width: 23%;
  }
}
@media only screen and (min-width: 710px) and (max-width: 768px) {
  .scoreCircle {
    width: 21%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .header h1 {
    font-size: 2rem;
  }
  .innerBox {
    border: 0.1rem solid rgb(211, 211, 211);
    width: 70%;
  }
  .scoreCircle {
    width: 21%;
    height: 6rem;
  }
  .tipBox {
    justify-content: center;
    font-size: 0.9rem;
  }
  .gridOuter h4 {
    font-size: 0.9rem;
    text-align: center;
  }
  .gridOuter {
    width: 70%;
    flex-wrap: wrap;
  }
  .reviewtextBtn h4 {
    font-size: 1rem;
    text-align: center;
  }
}
@media only screen and (min-width: 900px) and (max-width: 992px) {
  .scoreCircle {
    width: 19%;
    height: 6rem;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1130px) {
  .scoreCircle {
    width: 17%;
    height: 6rem;
  }
  .tipBox {
    justify-content: center;
    font-size: 0.8rem;
  }
  .gridOuter {
    width: 70%;
    flex-wrap: wrap;
    padding: 1rem;
  }
  .gridOuter h4 {
    font-size: 0.9rem;
    text-align: center;
  }
}
@media only screen and (min-width: 1065px) and (max-width: 1130px) {
  .scoreCircle {
    width: 16%;
    height: 6rem;
  }
  .tipBox {
    justify-content: center;
    font-size: 0.9rem;
  }
  .gridOuter {
    width: 70%;
    flex-wrap: wrap;
    padding: 1rem;
  }
  .gridOuter h4 {
    font-size: 0.9rem;
    text-align: center;
  }
}
@media only screen and (min-width: 1130px) and (max-width: 1200px) {
  .scoreCircle {
    width: 15%;
    height: 6rem;
  }
  .tipBox {
    justify-content: center;
    font-size: 0.9rem;
  }
  .gridOuter {
    width: 70%;
    flex-wrap: wrap;
    padding: 1rem;
  }
  .gridOuter h4 {
    font-size: 0.9rem;
    text-align: center;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .scoreCircle {
    width: 14%;
    height: 6rem;
  }
  .tipBox {
    justify-content: center;
    font-size: 0.9rem;
  }
}
