.parentBox {
  text-align: center;
  width: 80%;
  margin-top: 2rem;
}

.childBox_one {
  width: 100%;
  background-color: rgb(245, 245, 245);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 0.5rem;
  height: 13rem;
  padding-top: 3rem;
}
.scoreNum {
  background-color: rgb(175, 175, 175);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  width: 30%;
  border-radius: 0.5rem;
  height: 8rem;
  color: rgb(39, 39, 39);
  margin: auto;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.subTitle {
  margin-top: 2rem;
}

.childBox_two {
  border: 0.1rem solid rgb(211, 211, 211);
  width: 60%;
  margin: auto;
  margin-top: 2rem;
  border-radius: 0.5rem;
  padding: 1rem;
}

.childBox_three {
  margin-bottom: 2rem;
  margin-top: 2rem;
  border-top: 0.1rem solid rgb(211, 211, 211);
}
.infos {
  margin-top: 1rem;
  border-top: 0.1rem solid rgb(211, 211, 211);
  padding-top: 1rem;
}

/* Responsive styling from here. */
@media only screen and (min-width: 280px) and (max-width: 576px) {
  .parentBox {
    width: 90%;
  }
  .scoreNum {
    width: 50%;
    height: 8rem;
    font-size: 1.5rem;
  }
  .subTitle {
    font-size: 0.9rem;
  }

  .childBox_two {
    width: 90%;
  }

  .infos {
    margin-top: 1rem;
    border-top: 0.1rem solid rgb(211, 211, 211);
    padding-top: 1rem;
    font-size: 0.8rem;
  }
}
