.detailsBox {
  width: 80%;
  border: 0.1rem solid rgb(211, 211, 211);
  border-radius: 0.5rem;
  text-align: center;
}
.detailsBox h3 {
  font-family: "poppins";
  font-weight: 500;
}
/* Responsive styling from here. */
@media only screen and (min-width: 280px) and (max-width: 576px) {
  .detailsBox {
    width: 95%;
    padding: 0.3rem;
  }

  .detailsBox h3 {
    font-size: 0.9rem;
  }
  .detailsBox p {
    font-size: 0.7rem;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .detailsBox {
    width: 95%;
    padding: 0.5rem;
  }

  .detailsBox h3 {
    font-size: 1.1rem;
  }
  .detailsBox p {
    font-size: 0.9rem;
  }
}
