.innerCover {
  width: 90%;
  height: 60vh;
  max-height: 60vh;
  overflow-y: scroll;
  border: 0.1rem solid rgb(211, 211, 211);
  margin: 1rem;
  border-radius: 0.5rem;
  padding: 1rem;
}

.innerCover::-webkit-scrollbar {
  display: none;
}
/* Responsive styling from here. */
@media only screen and (min-width: 280px) and (max-width: 576px) {
  .innerCover {
    max-width: 100%;
    margin: 0rem;
  }
}
